.message-area {
    background: aliceblue;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
}



.chat-window {
    background: wheat;
    bottom: 0;
    position: fixed;
    right: 5%;
    z-index: 1000;
    border-radius: 10px;
    border: 5px solid white;
}

.show-window {
    width: 0%;
    height: 0%;

    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.hide-window {
    width: 0%;
    height: 0%;

    animation-name: hide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes show {
    from {
        width: 0%;
        height: 0%;
    }

    to {
        height: 70%;
        width: 20%;
    }
}

@keyframes hide {
    from {
        width: 20%;
        height: 70%;
    }

    to {
        height: 0%;
        width: 0%;
    }
}